.elements {
  &__header {
    display: grid;
    // background: $white;
    grid-template-columns: 50% 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding: rem(10) rem(20);
    position: fixed;
    top: 0;
    z-index: 10;
  }

  &__footer {
    background-color: $red;
  }

  &__li {
    &--no-style {
      list-style: none;
    }
  }
}
