.elements {
  &__header {
    display: grid;
    grid-template-columns: 50% 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding: rem(10) rem(20);
    position: fixed;
    top: 0;
    z-index: 10;
  }

  &__footer {
    background-color: $red;
  }

  &__li {
    &--no-style {
      list-style: none;
    }
  }

  &__nav {
    text-align: right;
  }

  &__nav-links {
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    list-style: none;

    &--item {
      display: inline-block;
      font-size: rem(13);
      font-weight: 600;
      width: rem(120);
      text-align: left;
      margin-right: rem(12);
      padding-bottom: rem(4);
      border-bottom: 1px solid $red;

      @include respond-to("tablet-landscape-down") {
        display: block;
        font-size: rem(14);
        width: auto;
        text-align: right;
      }
    }
  }
}
